<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  </head>
  <body>
    {{ message }}
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>isPublic</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>isPublic</th>
            </tr>
        </tfoot>
    </table>
  </body>

  <script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "ajax": 'jsondata',
            "columns": [
                {"data":"id"},
                {"data":"name"},
                {"data":"description"},
                {"data":"isPublic"},
            ]
        });
    });
  </script>
</html>